<footer class="container-fluid">
    <div class="container brdrbtm mb-5">
       <div class="row ">
            <div class="col-md-4 col-sm-12 col-xs-12 divfoter ">
                <div class="pt-5">
                    <h6 class="hsixfoter">Categories</h6>
               </div>
               <div class="d-flex ">
                
                <div class="frstdivfoter">
                    <ul class="lifoter pdd">
                        <li class="my-3 lihvr">Dairy, bread & eggs</li>
                        <li class="my-3 lihvr">Cold drinks & juices</li>
                        <li class="my-3 lihvr">Tea, coffee & drinks</li>
                        <li class="my-3 lihvr">Masala, oil & more</li>
                        <li class="my-3 lihvr">Chicken, meat & fish</li>
                        <li class="my-3 lihvr">Paan corner</li>
                        <li class="my-3 lihvr">Pharma & wellness</li>
                        <li class="my-3 lihvr"> Home & office</li>
                        <li class="my-3 lihvr">Pet care</li>
                    </ul>
                </div>
                <div >
                    <ul class="lifoter pdd mx-5">
                        <li class="my-3 lihvr">Dairy, bread & eggs</li>
                        <li class="my-3 lihvr">Cold drinks & juices</li>
                        <li class="my-3 lihvr">Tea, coffee & drinks</li>
                        <li class="my-3 lihvr">Masala, oil & more</li>
                        <li class="my-3 lihvr">Chicken, meat & fish</li>
                        <li class="my-3 lihvr">Paan corner</li>
                        <li class="my-3 lihvr">Pharma & wellness</li>
                        <li class="my-3 lihvr"> Home & office</li>
                        <li class="my-3 lihvr">Pet care</li>
                    </ul>
                </div>
               </div>
            </div>

            <div class="col-md-2 col-sm-12 col-xs-12 divfoter">
                <div class="pt-5">
                    <h6 class="hsixfoter">Get to know us</h6>
                </div>
                <div >
                <ul class="lifoter pdd  p-0">
                    <li class="my-3 lihvr">Company</li>
                    <li class="my-3 lihvr">About</li>
                    <li class="my-3 lihvr">Blog</li>
                    <li class="my-3 lihvr">Help Center</li>
                    <li class="my-3 lihvr">Our Value</li>
                    
                </ul>
                </div>
            </div>

            <div class="col-md-2 col-sm-12 col-xs-12 divfoter">
                <div class="pt-5">
                    <h6 class="hsixfoter">For Consumers</h6>
                </div>
                <div >
                <ul class="lifoter pdd  p-0">
                    <li class="my-3 lihvr">Payments</li>
                    <li class="my-3 lihvr">Shipping</li>
                    <li class="my-3 lihvr">Product Returns</li>
                    <li class="my-3 lihvr">FAQ</li>
                    <li class="my-3 lihvr">Shop Checkout</li>
                    
                </ul>
                </div>
            </div>

            <div class="col-md-2 col-sm-12 col-xs-12 divfoter">
                <div class="pt-5">
                    <h6 class="hsixfoter">Become a Shoppe</h6>
                </div>
                <div >
                <ul class="lifoter pdd  p-0">
                    <li class="my-3 lihvr">Shopper Opportunities</li>
                    <li class="my-3 lihvr">Earnings</li>
                    <li class="my-3 lihvr">Ideas & Guides</li>
                    <li class="my-3 lihvr">New Retailers</li>
                    <li class="my-3 lihvr">Become a Shoppe</li>
                    
                </ul>
                </div>
            </div>

            <div class="col-md-2 col-sm-12 col-xs-12 divfoter">
                <div class="pt-5">
                    <h6 class="hsixfoter">Freshcart programs</h6>
                </div>
                <div >
                <ul class="lifoter pdd  p-0">
                    <li class="my-3 lihvr">Freshcart programss</li>
                    <li class="my-3 lihvr">Promos & Coupons</li>
                    <li class="my-3 lihvr">Freshcart Ads</li>
                    <li class="my-3 lihvr">Careers</li>
                    <li class="my-3 lihvr">Gift Cards</li>
                    
                </ul>
                </div>
            </div>
       </div>
    </div>
    <div class=" container d-flex p-0">
        <p class="pfoter">© 2022 - 2024 FreshCart eCommerce HTML Template. All rights reserved. Powered by <span class="">Codescandy.</span></p>
        <div class="ms-auto">
            <ul class="d-flex me-auto ullast ">
                <li class="me-2 pfoter">Follow us on</li>
                <li><i class="fab fa-facebook mx-1 p-1"></i></li>
                <li><i class="fab fa-twitter mx-1 p-1"></i></li>
                <li><i class="fab fa-instagram mx-1 p-1"></i></li>
            </ul>
        </div>
  </div>
</footer>





















