<div class="col-md-6 brdr-cart mx-1 p-2">
    <div >
        <img src="./assets/images/Starbucks-Coffee.png" class="mx-auto w-100" alt="">
        <h6 class="font-sm">Tea, Coffee & Drinks</h6>
        <h5 class="font-sm1">Roast Ground Coffee</h5>
        <div class="d-flex">
            <h6 class="me-auto font-sm1">$13</h6>
                <ul class="d-flex ms-auto ulcart">
                    <li><i class="fa-solid fa-star listar "></i></li>
                    <li><i class="fa-solid fa-star listar "></i></li>
                    <li><i class="fa-solid fa-star listar "></i></li>
                    <li><i class="fa-solid fa-star listar "></i></li>
                    <li><i class="fa-solid fa-star-half-stroke listar"></i></li>
                   <span class="font-sm-rate mt-1"><li >4.5</li></span> 
                </ul>
        </div>
        <button class="bttncart w-100 mb-2 py-2">
            Add To Cart
        </button>
    </div>
</div>
