
<section class="  my-5 ">
    <div class="d-flex justify-content">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ">
            <h1><i class="fa-regular fa-clock iclock"></i></h1>
            <h6 class="my-3">10 minute grocery now</h6>
            <p class="font-sm">Get your order delivered to your doorstep at the earliest from FreshCart pickup stores near you.</p>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ">
            <h1><i class="fa-solid fa-gift iclock"></i></h1>
            <h6 class="my-3">Best Prices & Offers</h6>
            <p class="font-sm">Cheaper prices than your local supermarket, great cashback offers to top it off. Get best pricess & offers.</p>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ">
            <h1><i class="fa-solid fa-cube iclock"></i></h1>
            <h6 class="my-3">Wide Assortment</h6>
            <p class="font-sm">Choose from 5000+ products across food, personal care, household, bakery, veg and non-veg & other categories.</p>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ">
            <h1><i class="fa-solid fa-rotate iclock"></i></h1>
            <h6 class="my-3">Easy Returns</h6>
            <p class="font-sm">Not satisfied with a product? Return it at the doorstep & get a refund within hours. No questions asked policy .</p>
        </div>
        
    </div>
</section>

