<nav
    class="navbar navbar-expand-md navbar-light bg-light"
>
    <div class="container-fluid">
        <a class="navbar-brand " routerLink="" >
            <img src="./assets/images/logo.png" class="w-75" alt="fresh-cart-logo">
        </a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
           
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0 pe-5 d-flex alien-items-center">
                
                <li class="nav-item pt-2">
                    <a href="">
                        <i routerLinkActive="active-link" class="fab fa-facebook mx-2"></i>
                        <i routerLinkActive="active-link" class="fab fa-tiktok mx-2"></i>
                        <i class="fab fa-instagram mx-2"></i>
                        <i class="fab fa-twitter mx-2"></i>
                        <i class="fab fa-youtube mx-2"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="register">Register</a>
                </li>
               
               
            </ul>
        </div>
    </div>
</nav>
