/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root
{
    --main-color:#0aad0a;
    --light-color: #f0f3f2;
    --font-family: 'Encode Sans Expanded', sans-serif;
    --rating-color: #ffc908;
    --shadow:rgba(145,158,171,0.2)0px 2px 4px -1px,
            rgba(145,158,171,0.14)0px 4px 5px 0px,
            rgba(145,158,171,0.12)0px 1px 10px 0px
}

body{
    font-family: var(--font-family)  !important;
}
.active-link{
    color: #fff !important;
    background-color: var(--main-color) !important;
    border-radius: 5px !important;
}
.rating-color
{
color: var(--rating-color) ;
}
.bg-main{
    background-color: var(--main-color)  !important;
}
.cursor-pointer{
    cursor: pointer;
}
a ,a:hover{
    color: black;
    text-decoration: none;
}
.fontawsome{
    transition: all 0.3s ease-in;
}
.fontawsome:hover{
    color: var(--main-color);
}
.bttn{
    color: #fff !important;
    background-color: var(--main-color) !important;
    border-radius: 5px !important;
    border: none !important;
    padding: 4px 8px !important;
    cursor: pointer;
}
.bttncart{
    color: #fff ;
    background-color: var(--main-color) ;
    border-radius: 5px ;
    border: none ;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.bttncart:hover{
    background-color: #056e05d7;
}
.bttn:disabled{
    background-color: #0aad0a1b;
    color: #ffffff96;
    cursor: not-allowed;
}
.btn-carousel{
    color: #fff;
    background: #001e2b;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease-in;
}
.btn-carousel:hover{
    background-color: #001e2ba8;
    color: #fff;
}
.product:hover{
    border: solid 1px var(--main-color);
}
.product .btn{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn{
    opacity: 1;
    transform: translateY(0%);
}
.font-sm{
    font-size: 14px;
    color:#959da2;
}
.font-sm1{
    font-size: 14px;
    color:black;
}
.text-main{
    color: var(--main-color) !important;
}
.bg-main-light{
    background-color: var(--light-color) !important;
}
.border-raduis{
    border: none;
    border-radius: 20px;
}
.ulcart{
    list-style-type: none;
}
.brdr-cart{
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    cursor: pointer;
}
.brdr-cart:hover{
    border: 1px solid var(--main-color);
    box-shadow: var(--shadow);
}
.listar{
    color: gold;
    font-size: 13px;

}
.font-sm-rate{
    font-size: 13px;
    color:#959da2;
}
.optcart{
    border: none;
    border-radius: 3px;
    background-color: #fff;

}
.optcart:hover{

    background-color: var(--main-color);
    color: #fff;
    border: none;
   
}
.pos-absolute{
    position: absolute;
}
.pos-relative{
    position: relative;
}
.fntsz{
    font-size: 13px;
}
.optncart{
    top: 183px;
    left: 107px;
    display: none;
}
.iclock{
    color: var(--main-color);
}
footer{
    background-color: var(--light-color);
}
.hsixfoter{
    font-weight: bold;
    font-size: 12px;
}
.hedul{
    font-size: 12px;
}
.lifoter{
    font-size: 14px;
    color:#717377;
    list-style: none;
    font-family: var(--font-family);
}
.lihvr{
    transition: all 0.2s ease-in;
}
.lihvr:hover{
    color: var(--main-color);
    cursor: pointer;
}
.pdd{
    padding-left: 0;
}
.brdrbtm{
    border-bottom: 1px solid #959da2;
}
.pfoter{
    font-size: 12px;
    color:#717377 ;
    font-weight: 600;
}
.pfoter span{
    color: var(--main-color);
    cursor: pointer;
}
.ullast{
    color:#717377;
    list-style: none;
}
.ullast li i{
    border: 1px solid #959da2;
    border-radius: 5px;
}
.ullast li i:hover{
    color: var(--main-color);
}
.spncat{
    
    font-size: 14px;
}
.spncat i{
    border:none;
    background-color: #d3d9dd;
}
.spncat i:hover{
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
}
