
<div class="container pt-5">
    <section class="row col-lg-12 col-md-12 col-sm-12">
        <div >
            <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
                <div class="carousel-indicators ">
                  <button type="button"  data-bs-target="#carouselExampleCaptions"  data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  
                </div>
                <div class="carousel-inner border-raduis">
                  <div class="carousel-item active">
                    <img src="./assets/images/carousel-1.png" class="d-block w-100" alt="carouse1">
                    <div class="carousel-caption d-none d-md-block">
                        <button class=" ms-0 mb-4 d-block btn-carousel px-3 py-2 ">
                          shop now <span><i class="fa-solid fa-arrow-right"></i></span>
                        </button>
                        
                      </div>
                 </div>
                  <div class="carousel-item">
                    <img src="./assets/images/carousel-2.png" class="d-block w-100 " alt="carouse2">
                    
                  </div>
                </div>
                
              </div>
        </div>
    </section>

    <section class=" row my-5 gx-3 ">
        <h3>Daily Best Sells</h3>
        <!-- <div class="mt-5 d-flex "> -->
        <div class="col-md-3 col-sm-6 col-xs-12  mt-2  ">
            <div class="brdr-cart p-2">
                <img src="./assets/images/Starbucks-Coffee.png" class="mx-auto w-100" alt="">
                <h6 class="font-sm">Tea, Coffee & Drinks</h6>
                <h5 class="font-sm1">Roast Ground Coffee</h5>
                <div class="d-flex">
                    <h6 class="me-auto font-sm1">$13</h6>
                        <ul class="d-flex ms-auto ulcart">
                            <li><i class="fa-solid fa-star listar "></i></li>
                            <li><i class="fa-solid fa-star listar "></i></li>
                            <li><i class="fa-solid fa-star listar "></i></li>
                            <li><i class="fa-solid fa-star listar "></i></li>
                            <li><i class="fa-solid fa-star-half-stroke listar"></i></li>
                           <span class="font-sm-rate mt-1"><li >4.5</li></span> 
                        </ul>
                </div>
                <button class="bttncart w-100 mb-1 py-2">
                    Add To Cart
                </button>
            </div>
        </div>
       

        <div class="col-md-3 col-sm-6 col-xs-12  mt-2  ">
            <div class="brdr-cart p-2">
                <img src="./assets/images/Starbucks-Coffee.png" class="mx-auto w-100" alt="">
                <h6 class="font-sm">Tea, Coffee & Drinks</h6>
                <h5 class="font-sm1">Roast Ground Coffee</h5>
                <div class="d-flex">
                    <h6 class="me-auto font-sm1">$13</h6>
                        <ul class="d-flex ms-auto ulcart">
                            <li><i class="fa-solid fa-star listar "></i></li>
                            <li><i class="fa-solid fa-star listar "></i></li>
                            <li><i class="fa-solid fa-star listar "></i></li>
                            <li><i class="fa-solid fa-star listar "></i></li>
                            <li><i class="fa-solid fa-star-half-stroke listar"></i></li>
                           <span class="font-sm-rate mt-1"><li >4.5</li></span> 
                        </ul>
                </div>
                <button class="bttncart w-100 mb-1 py-2">
                    Add To Cart
                </button>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12  mt-2  ">
            <div class="brdr-cart p-2">
                <img src="./assets/images/Starbucks-Coffee.png" class="mx-auto w-100" alt="">
                <h6 class="font-sm">Tea, Coffee & Drinks</h6>
                <h5 class="font-sm1">Roast Ground Coffee</h5>
                <div class="d-flex">
                    <h6 class="me-auto font-sm1">$13</h6>
                        <ul class="d-flex ms-auto ulcart">
                            <li><i class="fa-solid fa-star listar "></i></li>
                            <li><i class="fa-solid fa-star listar "></i></li>
                            <li><i class="fa-solid fa-star listar "></i></li>
                            <li><i class="fa-solid fa-star listar "></i></li>
                            <li><i class="fa-solid fa-star-half-stroke listar"></i></li>
                           <span class="font-sm-rate mt-1"><li >4.5</li></span> 
                        </ul>
                </div>
                <button class="bttncart w-100 mb-1 py-2">
                    Add To Cart
                </button>
            </div>
        </div>


        <div class="col-md-3 col-sm-6 col-xs-12  mt-2  ">
            <div class="brdr-cart p-2">
                <img src="./assets/images/Starbucks-Coffee.png" class="mx-auto w-100" alt="">
                <h6 class="font-sm">Tea, Coffee & Drinks</h6>
                <h5 class="font-sm1">Roast Ground Coffee</h5>
                <div class="d-flex">
                    <h6 class="me-auto font-sm1">$13</h6>
                        <ul class="d-flex ms-auto ulcart">
                            <li><i class="fa-solid fa-star listar "></i></li>
                            <li><i class="fa-solid fa-star listar "></i></li>
                            <li><i class="fa-solid fa-star listar "></i></li>
                            <li><i class="fa-solid fa-star listar "></i></li>
                            <li><i class="fa-solid fa-star-half-stroke listar"></i></li>
                           <span class="font-sm-rate mt-1"><li >4.5</li></span> 
                        </ul>
                </div>
                <button class="bttncart w-100 mb-1 py-2">
                    Add To Cart
                </button>
            </div>
        </div>
      
    <!-- </div> -->
    </section>

    
</div>


<!-- <div>
                    <div class="d-flex pos-absolute optncart">
                        <button class="px-2 py-1 optcart mx-1"><i class="fa-regular fa-eye fntsz"></i> </button>
                        <button class="px-2 py-1 optcart mx-1"><i class="fa-regular fa-heart fntsz"></i> </button>
                        <button class="px-2 py-1 optcart mx-1"><i class="fa-solid fa-arrow-right-arrow-left fntsz"></i> </button>
                    </div>
                    </div>   -->